<%- include("template/cabecera", {tituloweb: 'Crear nuevo pedido'}) %> 
    <div class="container mt-2">
        <h1>Crear</h1>
        <form action="/pedidos" method="POST">
            <input name="nombre" type="text" placeholder="Nombre" class="form-control my-2">
            <input name="direccion" type="text" placeholder="Direccion" class="form-control my-2">
            <input name="numero" type="text" placeholder="Numero" class="form-control my-2">
            <input name="comentarioRepartidor" type="text" placeholder="Comentarios" class="form-control my-2">
            <button class="btn btn-success" type="submit" style="float:right;">Guardar</button>
        </form>
    </div>
<%- include("template/footer") %> 