<%- include("template/cabecera", {tituloweb: 'Pagina de sevicicos'})  %> 
    <div class="mt-2">
        <iframe
            allow="microphone;"
            width="350"
            height="430"
            src="https://console.dialogflow.com/api-client/demo/embedded/b85b67ef-0f67-4908-91bd-2b7f43f9178f">
        </iframe>  
    </div>    
<%- include("template/footer") %> 
